<% include header %>

</br>
<% if (entries.length) { %>
	<% entries.forEach(function(entry) { %>
		<div class="panel panel-default">
			<div class="panel-heading">
				<div class="text-muted pull-right">
					<%= entry.published %>
				</div>
				<%= entry.title %>
			</div>
			<div class="panel-body">
				<%= entry.content %>
			</div>
		</div>
	<% }) %>
<% } else {%>
		작성된 메시지가 없습니다. <a href="/new-entry">작성하기!</a>
<% } %>

<% include footer %>
